src/biz/myown/nodestorage/xsdshema/file.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="node" type="nodeType"/>
  <xs:complexType name="nodeType" mixed="true">
    <xs:sequence>
      <xs:element type="nodeType" name="node" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="data" use="required"/>
  </xs:complexType>
</xs:schema>